* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.warp_register {
    height: 753px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9eff7;
}

.register {
    width: 900px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.register h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.register form {
    font-size: 20px;
}

.register form .form-group {
    margin-bottom: 12px;
}

.register form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}